:root{
    --primary-color: #197278;
    --bg-color: #283d3b;
}

body{
    margin: 0;
    background-color: white;
}

.main-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--bg-color);
    margin: 70px 580px;
    padding: 30px;
    border-radius: 20px;
}

input{
    width: 312px;
    height: 80px;
    border: none;
    border-radius: 10px;
}

.cal-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.first-row, .second-row, .third-row, .fouth-row, .fifth-row{
    display: flex;
    gap: 10px;
}

button{
    height: 75px;
    width: 75px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
}



#long-button{
    flex: 2;
}

.buttons.red:hover{
    background-color: rgb(240, 129, 129);
    box-shadow: none;
    height: 74px;
    width: 74px;
}

.buttons.blue:hover{
    background-color: rgb(121, 207, 240);
    box-shadow: none;
    height: 74px;
    width: 74px;
}

.buttons.green:hover{
    background-color: rgb(80, 156, 80);
    box-shadow: none;
    height: 74px;
    width: 74px;
}

.buttons.grey:hover{
    background-color: rgb(180, 176, 176);
    box-shadow: none;
    height: 74px;
    width: 74px;
}